html,
body {
  background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.288),
      rgba(245, 245, 245, 0.034)
    ),
    url("../images/polzeath-sunset.jpg");

  background-repeat: none;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  font-family: "Rock Salt", cursive;
  margin: 0 auto;
  background-attachment: fixed;
}

h1 {
  text-align: left;
  color: rgb(0, 17, 17);
  font-size: 30px;
  letter-spacing: 20px;
  padding-left: 40px;
  background: linear-gradient(
    rgba(189, 188, 184, 0.116),
    rgba(212, 193, 164, 0.103)
  );
  min-width: 100%;
  border-radius: 0px;
  letter-spacing: 7px;
  font-weight: 200;
}

p,
footer {
  font-family: "Raleway", sans-serif;
}

#first-intro {
  padding-left: 40px;
  padding-bottom: 20px;
  font-size: 25px;
}

#second-intro,
#interests,
.links {
  margin-left: 30px;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  margin-right: 50%;
  background: linear-gradient(
    rgba(216, 215, 211, 0.479),
    rgba(212, 193, 164, 0.315)
  );
  border-radius: 2px;
}

.links {
  color: rgb(0, 0, 3);
}

a {
  color: #0a66c2;
}
footer {
  display: block;

  left: 0%;
  bottom: 1%;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  background: linear-gradient(
    30deg,
    rgba(0, 110, 255, 0.473),
    rgba(237, 243, 247, 0.178)
  );
  min-width: 100%;
  padding: 10px;
  padding-left: 20px;
}
